<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:mvc="http://www.springframework.org/schema/mvc"  
       xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context.xsd  
            http://www.springframework.org/schema/mvc  
            http://www.springframework.org/schema/mvc/spring-mvc.xsd"
            default-autowire="byName">
	
	
	
	 <!-- 把返回的对象解析成json -->
    <mvc:annotation-driven />
	
	<!-- 开启注解模式，扫描com.jk.controller包下的所有子包中的所有类，
	凡是包含@Controller注解的类都会生成控制层实例 -->
	<context:component-scan base-package="com.jk.controller"></context:component-scan>
	
	<!--
        jsp视图解析器，对模型视图名称的解析，即在模型视图名称添加前后缀
	        如/view/welcome.jsp对应的视图名就是：welcome
	        这个类在视图解析器链中一定要定义在其他视图的后面，因为它始终会返回一个视图
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<!-- 返回值的前缀 -->
        <property name="prefix" value="/WEB-INF/view/"/>
        <!-- 返回值的后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <!-- 配置拦截器 -->
    <mvc:interceptors>
    	<mvc:interceptor>
    		<!--拦截指定请求  -->
    		<!-- <mvc:mapping path="/**.action"/> -->
    		<!--<mvc:mapping path="/*.do"/> -->
    		<!-- <mvc:mapping path="/**.jhtml"/> -->
    		<mvc:mapping path="/**" />    		
    		<!--放过指定请求  -->
    		<mvc:exclude-mapping path="/loginUser.action"/>
    		<mvc:exclude-mapping path="/logout.action"/>
    		<!-- 测试图片上传 -->
    		<mvc:exclude-mapping path="/uploadUserPhoto.action"/>
    		<!-- <mvc:exclude-mapping path="/*/**.do"/> -->
    		<bean class="common.interceptor.LoginInterceptor"></bean>
    	</mvc:interceptor>
    	
   	  
    	<mvc:interceptor> 
    		<!-- 拦截指定请求 --> 
    		<!-- <mvc:mapping path="/**.action"/> -->
    		<!-- 拦截所有请求  -->
    		<mvc:mapping path="/**" />
    		<!-- 放过指定请求 --> 
    		<mvc:exclude-mapping path="/loginUser.action"/>
    		<mvc:exclude-mapping path="/logout.action"/>
    		<!-- 测试图片上传 -->
    		<mvc:exclude-mapping path="/uploadUserPhoto.action"/>
    		<!-- <mvc:exclude-mapping path="/*/**.do"/> -->
    		<bean class="common.interceptor.PermissionInterceptor"></bean>
    	</mvc:interceptor>
    	  
    </mvc:interceptors>
		
</beans> 
